<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DSN" value="TestDataSource" />
    <add key="Database" value="eqstatdb" />
    <add key="User" value="sa" />
    <add key="Password" value="3141592" />
    <add key="Table" value="MACHI_TABLE"/>
    <add key="Fab" value="V" />
  </appSettings>
</configuration>